$not-that-white: #f5f5f5;
$not-that-black: #3f3f3f;
$not-that-black-font: #555555;
$not-that-black-shadow: #b5b5b5;
$not-that-grey: rgb(200, 200, 200);
$not-that-grey-blacker: rgb(175, 175, 175);
$not-that-grey-lighter: rgba(225, 225, 225, 0.25);
$mobile-menu: rgba(245, 245, 245, 0.8);
